.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    margin: 1rem;
}

.header-container .input-container {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 34vw;
    margin-left:2.5%;
    position: relative;
    margin-right: 6%;
}

.header-container .search-bar {
    border: 1px solid #3C95A9;
    border-radius: 15px;
    filter: drop-shadow(0 2px 4px rgba(60, 149, 169, 0.5));
    font-size: 1.125rem;
    padding: 3px 40px 3px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
    transition: border-color 0.3s ease, filter 0.3s ease;
    width: 100%;
    position: relative;
    color: #666;
}

.search-bar:focus {
    border-color: #f4b701;
    --shadow-color: rgba(244, 183, 1, 0.5);
    filter: drop-shadow(0 2px 4px rgba(244, 183, 1, 0.5));
    outline: none;
    color: #666;
}

.header-container .searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #3C95A9;
    z-index: 1;
}

.header-container .searchIcon:hover {
    cursor: pointer;
}

.input-container:focus-within .searchIcon {
    color: #f4b701;
    /* Change color to yellow when input container is focused */
}



.price-range-btn {
    padding: 5px 40px;
    background-color: #3C95A9;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    line-height: normal;
}

.price-range-btn:hover {
    background-color: #F3B801;
}

.cart-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    color: #3C95A9;
    font-size: 1.15rem;
    border: none;
    background: none;
    cursor: pointer;
    transition: color 0.3s;
}

.cart-btn:hover {
    color: #F3B801;
}

.cart-icon {
    margin-right: 5px;
}

@media screen and (max-width: 768px) {
    .header-container .input-container {
        max-width: 50vw;
    }

    .price-range-btn {
        font-size: 0.85rem;
    }
}