.register-pages-container{
    display: block;
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/yellow_top.png'); /* Set the background image */
  background-size: cover; /* Cover the entire background */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat;
  border: 0.001rem solid transparent;
}


.register-component{
    display: block;
    justify-content: center;
    position: relative;
}



.yellow-top{
    width: 100%;
    height: auto;
    position: relative;
    z-index: -1;
    margin-top: -8%;
}

.register-title{
    position: relative;
    color: white;
    font-size: 300%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    height: fit-content;
    z-index: 2;
    margin-top: 5%;
}

.register-container{
    display: grid;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    margin-top: 6%;
}

.register-container input{
    border: none;
    border-radius: 15px;
    padding: 2.5%;
    width: 50%;
    padding-left: 3%;
    margin-bottom: 5%;
    font-size: 90%;
    margin-left: 25%;
}

.register-container input::placeholder{
    color: #3C95A9;
}

.register-container input:focus{
    outline: none;
    border-color: transparent;
}

.register-button{
    background-color: white;
    color: #3C95A9;
    border: none;
    padding: 1.5%;
    border-radius: 50px;
    width: 17%;
    margin-left: 41.5%;

    margin-bottom: 39.2%;
}
.reset-button{
    background-color: white;
    color: #3C95A9;
    border: none;
    padding: 1.5%;
    border-radius: 50px;
    width: 17%;
    margin-left: 41.5%;

    margin-bottom: 45%;
}


.register-verify{
    background-color: white;
    width: 90%;
    height: 90%;
    margin-left: 5%;
    margin-top: 5%;
}