.postContainer {
    padding: 3vh 5vw;
    color: #000;
}

.postContainer .postDetailsContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #3C95A9;
    padding-bottom: 16px;
}

.postContainer .postDetailsContainer .title {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 8px 0;
    max-width: 65vw;
    word-wrap: break-word;
}


.postContainer .postDetailsContainer .author {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 8px 0;
}

.postContainer .postDetailsContainer .authorName {
    color: #7A7A7A;
    font-size: 1.3rem;
    font-weight: 400;
}

.postContainer .postDetailsContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
    align-self: center;
}

#root > div > main > div > div.postDetailsContainer > div.floatContainer > div.imageContainer > div > div > .slider__item{
    box-sizing: border-box;
    min-width: 100%;
    height: auto;
    overflow: hidden;
    height: 100%;
    transition: transform 1s ease;
}

.postContainer>.postDetailsContainer>.floatContainer{
    padding: 4vh 0;
}


.postContainer>.postDetailsContainer>.floatContainer>.imageContainer{
    width: 30%;
    height: 35vh;
    float: left;
    border-radius: 20px;
    margin-right: 3vw;
    margin-bottom: 5vh;
}

.postContainer>.postDetailsContainer>.floatContainer>.imageContainer .container__slider{
    margin: 0;
    margin-top: 1vh;
    width: 100%;
    height: 100%;
    background-color: transparent;
}



.postContainer .postDetailsContainer .content {
    color: #7B7979;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    word-wrap: break-word;
}


.postContainer .feedbackContainer {
    display: flex;
    padding: 16px 8px;
}

.postContainer .reactionContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.postContainer .reactionContainer .goodReactionContainer,
.postContainer .reactionContainer .badReactionContainer {
    display: flex;
    align-items: center;
}

.postContainer .reactionContainer span,
.postContainer .reactionContainer span {
    color: #000;
    font-size: 1.15rem;
    font-weight: 500;
}


.postContainer .reactionContainer .reactionIcon {
    width: 32px;
    height: 32px;
}

.postContainer .commentContainer {
    flex: 4;
    border-left: 1px solid #3C95A9;
    padding-left: 2vw;
}

.postContainer .reactionContainer .reactionTitle,
.postContainer .commentContainer .commentTitle {
    color: #3C95A9;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 0.6vw;
}

.postContainer .commentContainer .commentHeader {
    margin-bottom: 12px;
}

.postContainer .addPostButton{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.postContainer .addPostButton:hover{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.postContainer .commentContainer .commentBody {
    padding-right: 20px;
    max-height: 60vh;
    overflow-y: auto;
}


.postContainer ::-webkit-scrollbar {
    padding: 20px;
    width: 0.2vw;

}

.postContainer ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 20px;
}


.postContainer ::-webkit-scrollbar-thumb {
    background-color: #F3B801;
    border-radius: 20px;
}


.postContainer ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.buttonContainer>a {
    margin-left: auto;
}

.postContainer .weijiePostBackButton,.weijieEditPostButton {
    background-color: transparent;
    border: 1px solid #3C95A9;
    color: #3C95A9;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    font-size: 1.25rem;
    padding: 5px 64px;
    margin-left: auto;
    margin-right: 2em;
}

.postContainer .weijiePostBackButton:hover,.weijieEditPostButton:hover {
    color: #f4b701;
    border: 1px solid #f4b701;
    text-shadow: 0 0 0px #f4b701, 0 0 1px #f4b701, 0 0 30px #f4b701;
}

.postContainer .headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.postContainer .noCommentContainer {
    padding: 16px;
}

.postContainer .noCommentContainer p {
    font-size: 1.5rem;
    text-align: center;
    color: #868686;
}

div.wj-loadingContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

p.wj-loadingText{
    color: #3C95A9;
    font-size: 2rem;
}