.Upper-section {
    width: 100%; 
    display: flex; 
    height:6%;
    padding: 2%;
    background-color: white;
    align-items: center;
    justify-content: space-between;
}
  
.Upper-section-price-range-button {
    width: 17%;
    margin-right: 25%;
    background-color: #3C95A9;
    border: transparent;
    color: #FFF;
    border-radius: 10px;
    font-size: 96%;
    padding: 0.5%;
}
  
.Upper-section-cart-button {
    background-color: white;
    color: #3C95A9;
    border: none;
    cursor: pointer;
    height: 15%;
    width: 10%;
}


#Upper-section-cart-button-text {
    width: 10%;
    background-color: #FFF;
    color: #3C95A9;
    border: transparent;
    height: 15%;
    font-size: 130%;
    margin-left: 8%;
}

.Upper-section-cart-button:active svg path {
  fill: #F3B801;
}

.Upper-section-cart-button:active #Upper-section-cart-button-text {
  color:#F3B801;
}


.Upper-section-search-container {
    display: flex;
    align-items: center; 
    border-radius: 20px; 
    overflow: hidden; 
    background-color: #fff;
    fill: #FFF;
    filter: drop-shadow(0px 0px 2px #3C95A9);
    margin-left: 2.2%;
    margin-right:9.4%;
    width: 36%;
    padding: -2%;
    height:30px;  /* cannot use percentage */
  }

.Upper-section-search-input {
    flex: 1; 
    padding: -2%; 
    border: none;
    border-radius: 20px; 
    outline: none;
}
  
.Upper-section-search-button {
    background-color: transparent;
    border: none;
    padding: 2%;
    cursor: pointer;
}
  
.Upper-section-search-icon {
    width: 10%; 
    height: 10%; 
    color: #555; 
}
  
.Upper-section-search-container.focused,
.Upper-section-search-container:focus-within {
    filter: drop-shadow(0px 0px 4px #F3B801);
}

.Upper-section-min-price,
.Upper-section-max-price{
    width: 19%;
    background-color: white;
    border: 1.35px solid #3C95A9;
    border-radius: 10px;
    font-size: 96%;
    padding: 1.5%;
    height: 15%;
}

#Upper-section-to{
    color: #3C95A9;
}

.Upper-section-min-price{
    margin-right: 2%;
}

.Upper-section-max-price{
    margin-left: 2%;
}

.Upper-section-search-container.show-price-range {
    margin-right: 2.5%; 
}

.Upper-section-min-price:focus,
.Upper-section-max-price:focus{    
    border-color: #F3B801;
    outline: none;
}
