.seller-product-card-container{
    display: flex;
    justify-content:flex-start;
    padding-top: 1.5%;
    padding-left: 3.2%;
    padding-right: 3.2%;
}

.seller-product-card-checkbox-clicked,
.seller-product-card-checkbox-unclicked{
    background-color: transparent;
    border: none;
}

.seller-product-card-checkbox-clicked:hover svg rect{
    fill:#3C95A9;
    stroke:#3C95A9;
}

.seller-product-card-checkbox-unclicked:hover svg rect{
    fill:white;
    stroke:#F3B801;
}
    
.seller-product-card-image{
    width:140px;
    height:140px;
    border-radius: 13px;
    margin-left: 1.5%;
}

.seller-product-card-product-name{
    margin-left:5% ;
    width: 34%;
    background-color: transparent;
    border: none;
    font-size: 1em;
    text-align: start;
    overflow: hidden; /* Hide any overflowing content */
    /* white-space: nowrap; Prevent text from wrapping */
    text-overflow: ellipsis; /* Show ellipsis (...) for overflowed text */
    padding-right: 5.8%;
    color: black;
    display: flex;
    align-items: center;
}

.seller-product-card-product-name:hover{
    color:#F3B801;
}

.seller-product-card-minus-button,
.seller-product-card-plus-button{
    margin-top: 4.2%;
    margin-bottom: 4.7%;
    background-color: #3C95A9;
    border: none;
    color: white;
    font-size: 130%;
    border-radius: 8px;
}

.seller-product-card-minus-button{
    padding-left: 1.15%;
    padding-right: 1.15%;
}

.seller-product-card-plus-button{
    padding-left: 1%;
    padding-right: 1%;
}

.seller-product-card-minus-button:hover,
.seller-product-card-plus-button:hover{
    background-color: #F3B801;
}

.seller-product-card-quantity-input{
    margin-top: 4.2%;
    margin-bottom: 4.7%;
    margin-left: 0.7%;
    margin-right: 0.7%;
    width: 7%;
    background-color: white;
    border: 1.1px solid #3C95A9;
    border-radius: 8px;
    padding-left: 1.2%;
    text-align: center;
}

.seller-product-card-quantity-input:hover{
    border-color: #F3B801;
    outline: none;
}

.seller-product-card-price{
    margin-top: 4.5%;
    margin-left: 9.3%;
    width: 18%;
}

.seller-product-card-remove-button{
    background-color: transparent;
    border: none;
}

.seller-product-card-remove-button:hover svg path{
    fill: #F3B801;
}

#horizontal-line{
    width:97%;
    margin-left: 3%;
    padding-right: 3%;
}

    