.seller-product-card-container {
    display: flex;
    justify-content: flex-start;
    padding-top: 1.5%;
    padding-left: 3.2%;
    padding-right: 3.2%;

}

.seller-product-card-checkbox-clicked,
.seller-product-card-checkbox-unclicked {
    background-color: transparent;
    border: none;
}

.seller-product-card-checkbox-clicked:hover svg rect {
    fill: #3C95A9;
    stroke: #3C95A9;
}

.seller-product-card-checkbox-unclicked:hover svg rect {
    fill: white;
    stroke: #F3B801;
}

.seller-product-card-image {
    width: 140px;
    height: 140px;
    border-radius: 13px;
    margin-left: 1.5%;
    object-fit: cover;
}

.seller-product-card-product-name {
    margin-left: 3rem;
    width: 34%;
    background-color: transparent;
    border: none;
    font-size: 1em;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 5.8%;
    color: black;
    display: flex;
    align-items: center;
}

.seller-product-card-product-name-container {
    width: 90rem;
    display: flex;
}

.seller-product-card-middle-container {
    display: flex;
    width: 50rem;
    align-items: center;
    justify-content: center;
}

.seller-product-card-product-name:hover {
    color: #F3B801;
}

.seller-product-card-remove-button-container {
    display: flex;
    width: 20rem;
}

.seller-product-card-minus-button,
.seller-product-card-plus-button {
    margin-top: 4.2%;
    margin-bottom: 4.7%;
    background-color: #3C95A9;
    border: none;
    color: white;
    font-size: 130%;
    border-radius: 8px;
    width: 2rem;
    height: 2rem;
    text-align: center;
}

.seller-product-card-minus-button:hover,
.seller-product-card-plus-button:hover {
    background-color: #F3B801;
}

.seller-product-card-quantity-input {

    margin-top: 4.2%;
    margin-bottom: 4.7%;
    margin-left: 0.7%;
    margin-right: 0.7%;
    width: 7%;
    background-color: white;
    border: 1.1px solid #3C95A9;
    border-radius: 8px;
    text-align: center;

}

.seller-product-card-quantity-cart-input {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: white;
    border: 1.1px solid #3C95A9;
    border-radius: 8px;
    text-align: center;
    height: 2rem;
    max-width: 50%;
}

.seller-product-card-slot-container {
    width: 12rem;
    display: flex;
    justify-content: center;
    /* border: #3C95A9 1.5px solid;
    border-radius: 20px; */
    text-align: center;
}

.seller-product-card-slot{
    font-size: 1rem;
    font-weight: bolder;
}


.seller-product-card-quantity-input:hover {
    border-color: #F3B801;
    outline: none;
}

.seller-product-card-price {
    margin-left: 9.3%;
    width: 18%;
    display: flex;
    align-items: center;
}



.seller-product-card-quantityControlContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.seller-product-card-price-container {
    display: flex;
    width: 40rem;
}

.seller-product-card-remove-button {
    background-color: transparent;
    border: none;
}

.seller-product-card-remove-button:hover svg path {
    fill: #F3B801;
}

#horizontal-line {
    width: 97%;
    margin-left: 3%;
    padding-right: 3%;
}


@media screen and (max-width: 768px) {
    .seller-product-card-container {
        flex-direction: column;
        align-items: center;

    }

    .seller-product-card-image {
        width: 30%;
        height: auto;
        margin-left: 0;
        margin-bottom: 1.5%;
    }

    .seller-product-card-product-name {
        width: 100%;
        margin-left: 0;
        padding-right: 7%;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-left: 7%;
    }

    .seller-product-card-quantity-input {
        margin-top: 1.5%;
        margin-bottom: 1.5%;
        margin-left: 0;
        margin-right: 0;
        width: 10%;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    .seller-product-card-price {
        margin-top: 1.5%;
        margin-left: 0;
        width: 100%;
        text-align: center;
    }

    #horizontal-line {
        margin-left: 0;
        padding-right: 0;
    }

    .seller-product-card-remove-button-container {
        display: flex;
        justify-content: center
    }
}